<?xml version="1.0"?>
<launch>
  <arg name="object"/>
  <param name="/dexopt_object_description" command="$(find xacro)/xacro --inorder '$(find dexopt)/objects/$(arg object).xacro'"/>
  <node
    name="delete_object"
    pkg="rosservice"
    type="rosservice"
    args="
    call
    /gazebo/delete_model
    object
    --wait
    "
    respawn="false"
    output="screen"
    />
  <node
    name="spawn_object"
    pkg="gazebo_ros"
    type="spawn_model"
    args="
    -urdf
    -param dexopt_object_description
    -model object
    -x 0.2
    -y -1.0
    -z 1.0
    -Y -1.57079632679
    "
    respawn="false"
    output="screen"
    />
</launch>
